
body{
	background-image:url("../image/mostar-bridge.jpg");
}

h5{
font-family: 'Fredericka the Great', cursive;
}
p{
	font-family: 'Overlock', cursive;
}
.chineseflag{
	width:20px;
}
.usflag{
	width:20px;
}